.chat-popup {
    position: fixed;
    bottom: 25px;
    right: 120px;
    width: 360px;
    height: 520px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 9999;
    transform: scale(0.15) translate(30px, 30px);
    opacity: 0;
    transform-origin: bottom right;
    transition: 0.35s ease;
}

.chat-popup.show {
    transform: scale(1) translate(0, 0);
    opacity: 1;
    visibility: visible;
}


.chat-header {
    background: #d1b36a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    flex-shrink: 0;
}

.chat-title {
    display: flex;
    gap: 10px;
}

.chat-logo {
    width: 35px;
    height: 35px;
    padding: 5px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-title p {
    display: flex;
    align-items: center;
    margin: 0;
    font-family: Impact, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
}


.chat-title span {
    display: flex;
    align-items: center;
    color: #6b9af0;
    margin-left: -9px;
    font-family: Impact, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
}

.close-btn {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 50%;
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-btn:hover {
    background: #c79a42;
}

.chat-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    overflow-y: auto;
    background: #f7f7f7;
}

.bot-message {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 80%;
    margin-bottom: 10px;
}

.bot-text {
    background: #ececec;
    padding: 12px 16px;
    font-size: 12px;
    color: #333;
    border-radius: 16px 16px 16px 4px;
    line-height: 1.5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.bot-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d1b36a;
    border-radius: 50%;
    background: #ececec;
    flex-shrink: 0;
}


.user-message {
    display: flex;
    align-self: flex-end;
    background: #d1b36a;
    padding: 12px 16px;
    font-size: 12px;
    border-radius: 16px 16px 4px 16px;
    max-width: 80%;
    line-height: 1.5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    margin-bottom: 10px;
}

.user-text {
    color: white;
}

.typing-bubble {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    background: #ececec;
    border-radius: 18px;
}

.typing-bubble span {
    width: 8px;
    height: 8px;
    background: #b6b6b6;
    border-radius: 50%;
    animation: typing 1.4s infinite ease-in-out;
}

.chat-footer {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 14px 20px 20px;
    flex-shrink: 0;
}

.chat-form {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 6px;
    background: #fff;
    border-radius: 30px;
    outline: 1px solid #ddd;
}

.chat-form:focus-within {
    outline: 2px solid #a5a5a5;
}

.chat-form input {
    flex: 1;
    border: none;
    outline: none;
    height: 28px;
    width: 100%;
    font-size: 12px;
    padding: 14px;
}

.chat-controls {
    display: flex;
    height: 28px;
    align-items: center;
    gap: 6px;

}

.chat-controls button {
    height: 20px;
    width: 20px;
    border: none;
    background: transparent;
    color: black;
    border-radius: 50%;
    cursor: pointer;

}

.chat-controls button:hover {
    background: #f0f0f0;

}

@keyframes typing {

    0%,
    80%,
    100% {
        transform: scale(.7);
        opacity: .5;
    }

    40% {
        transform: scale(1.2);
        opacity: 1;
    }
}