* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    background: linear-gradient(rgba(187, 180, 180, 0.5), rgba(172, 161, 161, 0.5)),
        url('images/smile 2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: auto;
}

.mood-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mood-form {
    width: 450px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.emotion {
    position: absolute;
    font-size: 80px;
    opacity: 0.3;
    color: rgb(3, 80, 94);
    pointer-events: none;
}

.happy {
    top: -15px;
    right: -10px;
    transform: rotate(-15deg);
}

.sad {
    bottom: -20px;
    left: -10px;
    transform: rotate(-15deg);
}

.goBackbtn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
}

.goBackbtn:hover {
    transform: scale(1.2);
}

h2 {
    text-align: center;
    font-size: 26px;
    color: black;
    margin-top: 15px;
}

p {
    text-align: center;
    color: #666;
    font-weight: 700;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}


.input-group label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #666;
    margin-bottom: 8px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.25);
    border: 3px solid rgb(171, 164, 164);
    border-radius: 15px;
    font-size: 12px;
    outline: none;
}

.input-group textarea {
    resize: none;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus {
    border-color: #666;
}

.moodBtn {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 12px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: #a9825f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.moodBtn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

/*WEEKLY MOOD PAGE*/
.weekly-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.weekly-card {
    width: 600px;
    padding: 40px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}

.weekly-card h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 10px;

}

.weekly-card h3 {
    color: black;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.weekly-email {
    margin-bottom: -5px;
    color: #555;
}

/* Score Progress */
.progress {
    width: 100%;
    height: 25px;
    background: #f6f6f6;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a9825f;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* Chart */
.chart-box {
    margin-top: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.616);
    border-radius: 20px;
}

.chart-box h3 {
    font-size: 12px;
    color: #666;
    margin-top: 0;
}

#moodChart {
    margin-top: 5px;
    max-height: 300px;
}

/* Table */
.mood-table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
    overflow: hidden;
}

.mood-table th {
    background: #a9825f;
    color: white;
    padding: 8px;
    font-size: 14px;
}

.mood-table td {
    padding: 12px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}

.no-record {
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: #555;
}

/* Buttons */
.weekly-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.weekly-buttons button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

}

.again-btn {
    background: #a9825f;
}

.home-btn {
    background: #0066cc;
}

.weekly-buttons button:hover {
    opacity: .9;
    transform: scale(1.05);
}

/* Mobile */
@media(max-width:768px) {

    .weekly-card,
    .mood-form {
        width: 90%;
        padding: 30px;
    }

    .weekly-buttons {
        flex-direction: column;
    }

    .weekly-buttons button {
        width: 100%;
    }
}